---
import Header from "@/components/organisms/header.vue";
import Navigation from "@/components/organisms/navigation.vue";
import Table from "@/components/organisms/bill-table.tsx";
import SelectTable from "@/components/organisms/select-item-table.tsx";
---

<div class="store-cotainer">
  <Navigation client:load />
  <div class="data-container">
    <Table client:load />
  </div>
  <div class="item-container">
    <SelectTable client:load />
  </div>
</div>

<style>
  .store-cotainer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 80px 40px 80px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .data-container {
    display: flex;
    height: 90vh;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 20px;
    border: 1px solid #3c3c3c;
    background: #242424;
  }
  .item-container {
    display: flex;
    height: 90vh;
    max-width: 400px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 20px;
    border: 1px solid #3c3c3c;
    background: #242424;
    /* position: sticky;
    top: 40px; */
  }
  h1 {
    text-align: start;
    font-family: Righteous;
    font-size: 36px;
  }
</style>
