---
import Header from "@/components/organisms/header.vue";
import Logins from "@/components/organisms/login.vue";
import Footer from "@/components/organisms/footer.vue";
---

<Header client:load />
<div class="login-container">
  <Logins client:load />
</div>

<style scoped>
  .login-container {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    width: 100%;
    height: auto;
  }
</style>
