---
import Navigation from "@/components/organisms/navigation.vue";
import QuoteData from "@/components/organisms/quote-table.tsx";
import SelectTable from "@/components/organisms/selectproduct-table";
import { Status } from "@/lib/shared";
import Header from "../organisms/header.vue";
import type { Product, Quote, Store } from "@/lib/shared";
const quote: Quote = {
  id: 1,
  total: 53000,
  orderDate: "2025-03-05",
  shippingOn: "2025-03-08",
  status: Status.paid,
  customerId: 1,
  customer: {
    id: 1,
    name: "Nicha P.",
    address: "Pattaya, Thailand",
    storeId: 1,
    store: {
      id: 1,
      name: "Tech & Toys",
      address: "Bangkok, Thailand",
      revenue: 1000000,
      owner: [],
      admin: [],
      quote: [],
      products: [],
      customers: [],
    },
    quotes: [],
  },
  storeId: 1,
  store: {
    id: 1,
    name: "Tech & Toys",
    address: "Bangkok, Thailand",
    revenue: 1000000,
    owner: [],
    admin: [],
    quote: [],
    products: [],
    customers: [],
  },
  products: [
    {
      id: 1,
      quoteId: 1,
      productId: 205,
      product: {
        id: 205,
        name: "Smartwatch",
        price: 8000,
        storeId: 1,
        store: {} as Store,
        quoteProducts: [],
      },
      quantity: 1,
      quote: {} as Quote, // จะถูกแทนด้วย quote ตัวนี้ใน runtime
    },
    {
      id: 2,
      quoteId: 1,
      productId: 314,
      product: {
        id: 314,
        name: "Smartphone",
        price: 15000,
        storeId: 1,
        store: {} as Store,
        quoteProducts: [],
      },
      quantity: 3,
      quote: {} as Quote,
    },
    {
      id: 3,
      quoteId: 1,
      productId: 1,
      product: {
        id: 1,
        name: "Bear",
        price: 8000,
        storeId: 1,
        store: {} as Store,
        quoteProducts: [],
      },
      quantity: 6,
      quote: {} as Quote,
    },
    {
      id: 4,
      quoteId: 1,
      productId: 2,
      product: {
        id: 2,
        name: "Guitar",
        price: 15000,
        storeId: 1,
        store: {} as Store,
        quoteProducts: [],
      },
      quantity: 9,
      quote: {} as Quote,
    },
  ],
};

const product: Product[] = [
  {
    id: 1,
    name: "Pen",
    price: 20,
    storeId: 1,
    store: {} as Store,
    quoteProducts: [],
  },
  {
    id: 2,
    name: "Pencil",
    price: 10,
    storeId: 1,
    store: {} as Store,
    quoteProducts: [],
  },
];
---

<Header client:load/>
<div class="store-cotainer">
  <div class="navigation">
    <Navigation client:load />
  </div>
  <div class="workspace">
    <div class="data-container">
      <QuoteData client:load quote={quote} />
    </div>
    <div class="item-container">
      <SelectTable client:load products={product} />
    </div>
  </div>
</div>

<style>
  .store-cotainer {
    display: flex;
    padding: 40px 80px 0px 80px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    width: 100%;
  }
  .workspace {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .data-container {
    max-width: 800px;
    flex: 1 0 0;
  }
  .item-container {
    max-width: 400px;
  }
  .item-container,
  .data-container {
    display: flex;
    width: 100%;
    min-width: 400px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    border: 1px solid #3c3c3c;
    background: #242424;
  }
  @media (max-width: 1075px) {
    .store-container {
      padding: 20px;
    }

    .data-container,
    .item-container {
      max-width: 100%;
      min-width: 100%;
    }
  }

  @media (max-width: 440px) {
    .data-container,
    .item-container {
      padding: 20px;
    }
  }
  @media (max-width: 563px) {
    .store-cotainer {
      padding: 10px 10px;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 454px) {
    .navigation {
      overflow-x: scroll;
    }
    .navigation::-webkit-scrollbar {
      display: none;
    }
  }
</style>
