---
import SettingStores from "../organisms/setting-store.vue";
import SettingStaff from "../organisms/setting-staff.vue";
import type { Store } from "@/lib/shared";
import { trpc } from "@/lib/trpc";
import Header from "../organisms/header.vue";
import Navigation from "../organisms/navigation.vue";

const storeId = Astro.params.store_id as string;
let store!: Store;
try {
  store = await trpc.store.getById.query(storeId);
} catch (err) {
  console.error("Failed to fetch store:", err);
}
---

<Header client:load />
<div class="setting-cotainer">
  <div class="navigation">
    <Navigation client:load storeId={storeId} />
  </div>
  <div class="workspace">
    <SettingStores client:load store={store} />
    <SettingStaff client:load store={store} />
  </div>

  <style>
    .setting-cotainer {
      display: flex;
      padding: 28px 80px 0px 80px;
      justify-content: center;
      align-items: flex-start;
      gap: 12px;
      align-self: stretch;
      width: 100%;
    }
    .workspace {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      min-width: 300px;
      align-items: flex-start;
      justify-content: center;
      flex: 1 0 0;
      border-radius: 20px;
      border: 1px solid #3c3c3c;
      background: #242424;
    }

    @media (max-width: 1075px) {
      .setting-container {
        padding: 20px;
      }
    }
    @media (max-width: 563px) {
      .setting-cotainer {
        padding: 10px 10px;
        flex-wrap: wrap;
      }
    }
    @media (max-width: 454px) {
      .navigation {
        overflow-x: scroll;
      }
      .navigation::-webkit-scrollbar {
        display: none;
      }
    }
  </style>
</div>
