---
import SettingStores from "../organisms/setting-store.vue";
import SettingStaff from "../organisms/setting-staff.vue";
import type { Store } from "@/lib/shared";
import { trpc } from "@/lib/trpc";
import Header from "../organisms/header.vue";
function handleClick() {
  window.location.href = "/";
}

const { storeId } = Astro.props as { storeId: string };
let store!: Store;
try {
  store = await trpc.store.getById.query(storeId);
} catch (err) {
  console.error("Failed to fetch store:", err);
}
---

<Header client:load />
<div class="edit-page">
  <h1>{store.name}</h1>
  <button onclick="handleClick">Go Home</button>
  <div class="edit-form">
    <SettingStores client:load store={store} />
    <SettingStaff store={store} />
  </div>
</div>

<style scoped>
  .edit-page {
    display: flex;
    padding: 40px 80px 40px 80px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 40px;
    align-self: stretch;
  }
  @media (max-width: 440px) {
    .edit-page {
      padding: 40px 20px 40px 20px;
    }
  }
  h1 {
    text-align: center;
    font-family: Righteous;
    font-size: 48px;
  }
  .edit-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }
  button {
    font-family: "Onest", sans-serif;
    display: flex;
    width: fit-content;
    height: fit-content;
    padding: 6px 20px;
    align-items: center;
    border-radius: 6px;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  button.light {
    background-color: black;
    color: white;
  }
</style>
