---
import Navigation from "@/components/organisms/navigation.vue";
import DataTable from "@/components/organisms/store-table.tsx";
import { Status } from "@/lib/shared";
import Header from "../organisms/header.vue";
import type { Store } from "@/lib/shared";
import { trpc } from "@/lib/trpc";

const storeId = Astro.params.store_id as string;
let store!: Store;
try {
  store = await trpc.store.getById.query(storeId);
} catch (e) {
  console.error("Error fetching store data:", e);
}
---

<Header client:load />
<div class="store-cotainer">
  <div class="navigation">
    <Navigation client:load storeId={store.id} />
  </div>
  <div class="data-container">
    <DataTable client:load store={store} />
  </div>
</div>

<style>
  .store-cotainer {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 80px 0px 80px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
  }
  .data-container {
    display: flex;
    width: 100%;
    min-width: 300px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: 20px;
    border: 1px solid #3c3c3c;
    background: #242424;
  }
  @media (max-width: 440px) {
    .data-container {
      padding: 20px;
    }
  }
  @media (max-width: 563px) {
    .store-cotainer {
      padding: 10px 10px;
    }
  }
  @media (max-width: 454px) {
    .navigation {
      overflow-x: scroll;
    }
    .navigation::-webkit-scrollbar {
      display: none;
    }
  }
</style>
